
h1 {
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color:#FFFFFF;

}
h2 {
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color:#FFFFFF;
}
h3 {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color:#FFFFFF;
}

p {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color:#FFF;

}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color:#000000;
    background-color: #000000;
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(30, 20, 100));
    background-repeat: no-repeat;
    background-attachment: fixed;


    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}


@keyframes fadein {
    from { opacity: 0; background-color: rgba(0, 0, 0, 1);}
    to   { opacity: 1; background-color: rgba(0, 0, 0, 0.5);}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; background-color: rgba(0, 0, 0, 1);}
    to   { opacity: 1; background-color: rgba(0, 0, 0, 0.5);}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; background-color: rgba(0, 0, 0, 1);}
    to   { opacity: 1; background-color: rgba(0, 0, 0, 0.5);}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; background-color: rgba(0, 0, 0, 1);}
    to   { opacity: 1; background-color: rgba(0, 0, 0, 0.5);}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; background-color: rgba(0, 0, 0, 1);}
    to   { opacity: 1; background-color: rgba(0, 0, 0, 0.5);}
}


.container {
    position: relative;
    margin:0%;
    width:100%;
    height:100%;
    top:0;
}

.container img.img1, img.img2 {
  opacity: 1;
  position: absolute top;
  float:none;
  left:0;
  top:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}


.avatar {
    border-radius: 150px;
    height: 150px;
    width: auto;
    -moz-box-shadow:     0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow:  0 0 10px rgba(0,0,0,.3);
    box-shadow:          0 0 10px rgba(0,0,0,.3);
    }


.post a, a:visited {
    color: #FFF;
}
    
    
.post a:hover {
    color: deeppink;
}
    
    

    
@media only screen and (min-width: 961px){
    .avatar{
        /* float: left; */
        margin: 1em;
        margin-right: 2em;
    }

    .post {
        border-radius: 0px;
        padding: 2em;
        height: auto;
        min-height: 360px;
        opacity: 1;
        max-width:100%;
        width: 60%;
        margin-top: 2em;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
    }

    .footer {
        padding: 15px;
        width:100%;
        height:auto;
        margin-left:-8px;
        margin-right:-8px;
        position: fixed;
        bottom: 0;
    }

    .footer_links{
        margin-left: auto;
        margin-right: auto;
        width: auto;
        text-align: center;
    }

    .footer a, a:visited {
        display: inline-block;
        padding: 1em;
        font-size: 2em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        color:#FFFFFF;
        text-decoration:none;
        text-transform:uppercase;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    
    .footer a:hover{
        text-shadow: #FFFFFF 0px 0px 5px;
        color:#FFFFFF;

        -webkit-animation: fadelink 0.2s; /* Safari, Chrome and Opera > 12.1 */
           -moz-animation: fadelink 0.2s; /* Firefox < 16 */
            -ms-animation: fadelink 0.2s; /* Internet Explorer */
             -o-animation: fadelink 0.2s; /* Opera < 12.1 */
                animation: fadelink 0.2s;
    }
}


@media only screen and (max-width: 960px){
    .post {
        border-radius: 0.5rem;
        padding: 0.1rem 0 1rem 0;
        height: auto;
        opacity: 1;
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left:0;
        margin-right:0;
        text-align: center;
    }


    .footer {
        border-radius: 0.5rem;
        height:auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-left:0;
        margin-top:1rem;
        margin-right:0;
    }

    .footer_links{
        margin-left: auto;
        margin-right: auto;
        width: auto;
        text-align: center;
    }

    .footer a, a:visited {
        display: block;
        padding: 0.3em;
        font-size: 1.2em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        color:#FFFFFF;
        text-decoration:none;
        text-transform:uppercase;

        -webkit-transition: all 0.2s ease-out;
           -moz-transition: all 0.2s ease-out;
             -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;

    }

    .footer a:hover{
        text-shadow: #FFFFFF 0px 0px 5px;
        color:#FFFFFF;

        -webkit-animation: fadelink 0.2s; /* Safari, Chrome and Opera > 12.1 */
           -moz-animation: fadelink 0.2s;
            -ms-animation: fadelink 0.2s;
             -o-animation: fadelink 0.2s;
                animation: fadelink 0.2s;
    }
}



@keyframes fadelink {
    from { text-shadow: #FFFFFF 0px 0px 0px; }
    to   { text-shadow: #FFFFFF 0px 0px 5px; }
}

/* Firefox < 16 */
@-moz-keyframes fadelink {
    from { text-shadow: #FFFFFF 0px 0px 0px; }
    to   { text-shadow: #FFFFFF 0px 0px 5px; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadelink {
    from { text-shadow: #FFFFFF 0px 0px 0px; }
    to   { text-shadow: #FFFFFF 0px 0px 5px; }
}

/* Internet Explorer */
@-ms-keyframes fadelink {
    from { text-shadow: #FFFFFF 0px 0px 0px; }
    to   { text-shadow: #FFFFFF 0px 0px 5px; }
}

/* Opera < 12.1 */
@-o-keyframes fadelink {
    from { text-shadow: #FFFFFF 0px 0px 0px; }
    to   { text-shadow: #FFFFFF 0px 0px 5px; }

}




#chat-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .bubble {
    border: solid 1px #333;
    background: #333;
    margin-bottom: 0.25rem;
    max-width: 60%;
    align-self: flex-start;
    padding: 0.5rem;
    padding: 0.5rem 0.7rem;
    border-radius: 0.75rem;
    position: relative;
    text-align: left;
  }
  
  .bubble::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
    height: 0;
    border: 12px solid transparent;
    border-right-color: #333;
    border-left: 0;
    border-top: 0;
    margin-top: -6px;
    margin-left: -12px;
    filter: drop-shadow(0px 1px 0px #333) drop-shadow(0px -1px 0px #333);
  }
  
  .bubble.right {
    border-color: #333;
    background: #333;
    align-self: flex-end;
    text-align: left;
  }
  
  .bubble.right::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 12px solid transparent;
    border-left-color: #333;
    border-right: 0;
      border-top: 0;
    margin-top: -6px;
    margin-right: -12px;
    filter: drop-shadow(0px 1px 0px #333) drop-shadow(0px -1px 0px #333);
    left: initial;
  }
  
  .bubble p {
    margin: 0;
  }
